.editor {
    width: 800px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
    padding: 10px 20px 20px;
}
.editor h3 {
    background: #333;
    padding: 20px;
    color: #4caf50;
}
.editor h4 {
    display: inline-block;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #4caf50;
}
.editor button {
    display: block;
    width: 100px;
    height: 35px;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    background: #333;
    color: #4caf50;
    font-weight: bold;
    font-size: 16px;
}
.editor button:hover {
    border: 2px solid #4caf50;
}
label input {
    padding: 5px;
}
label input, label textarea {
    border: 2px solid #333333;
    outline: none;
}
select {
    border: 2px solid #333333;
    outline: none;
    padding: 5px;
    font-weight: bold;
    background: #333333;
    color: #4caf50;
}