.content-container {
    display: block;
    width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
}
.content-container h3 {
    margin: 0;
    background: #333;
    padding: 20px;
    color: #4caf50;
}
.content {
    padding: 20px;
}