.navigation {
    height: 50px;
    background: #333;
    box-shadow: 0 2px 15px black;
}
ul li {
    display: inline-block;
    height: 50px;
    width: 100px;
    list-style: none;
}
ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
ul li a {
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
}
ul li a:hover {
    background: #000000;
}
.logo {
    font-size: 18px;
    display: inline-block;
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #4caf50;
}
.navigation .active {
    background: #4caf50;
}